<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="default">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="za.co.hpsc" level="debug" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level)
                    %magenta(%logger{36}) - %msg%n
                </pattern>
            </encoder>
        </appender>

        <logger name="za.co.hpsc" level="debug" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="stage | prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <withJansi>false</withJansi>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="error">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>
